@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

:root {
    --green: #39e6b2;
    --black: #3a3d3c;
    --white: #d5e6e1;
}

* {
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

h1, p {
    color: var(--black);
}

body {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--green), var(--white), var(--green)) left/200% 100%;
    animation: title-move 5s linear infinite;
    flex: 1;
}

@keyframes title-move {
	to {
		background-position: 200% 0;
	}
}

.title h1 {
    font-size: 4rem;
    text-align: center;
}

.down-arrow {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    animation: hover 3s linear infinite;
}

@keyframes hover {
    0% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -20px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

.container-for-about {
    position: relative;
    background: var(--white);
    width: 80%;
    height: 80dvh;
    border-radius: 20px;
    margin: 2rem;
    padding: 1rem;
}